.grid-wrapper {
  height: fit-content;
  width: fit-content;
  display: block;
  position: relative;
  margin: auto;
  .board {
    max-height: 70vh;
    max-width: 90vw;
    display: block;
  }
  .board-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .cell {
      &.selected {
        outline: 2px solid #61c778;
      }
      &.available {
        outline: 1px solid #61c778;
        background-color: #61c778;
        opacity: 0.5;
      }
    }
  }
  &.black-side {
    // переворот для второго игрока
    transform: rotate(180deg);
  }
}

.checker {
  background-color: black;
  border: 2px solid #e9ecef;
  margin: 10%;
  display: block;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  color: white;
  text-align: center;
  cursor: default;
  &.white {
    color: black;
    background-color: #e9ecef;
    border: 2px solid black;
  }
}