@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: url('/images/demo-bg.jpg');
}

.btn{
  background-color: #fdad54 !important;
}

.btn:hover,
.btn:focus,
.btn:visited{
  box-shadow: none !important;
  background-color: lighten(#fdad54, 10%) !important;
}